<div class="slideshow">
  <div class="slides" tabindex="0" role="region" aria-roledescription="carousel" aria-label="Screenshots">
    {%- for screenshot in include.screenshots %}
    <figure aria-roledescription="slide" aria-label="{{ forloop.index }} of {{ forloop.length }}">
      <img src="{{ "/assets/imgs/home/" | append: screenshot.image | relative_url }}" alt="{{ screenshot.alt }}"{% unless forloop.first %} loading="lazy"{% endunless %}>
      {%- if screenshot.caption %}
      <figcaption>{{ screenshot.caption }}</figcaption>
      {%- endif %}
    </figure>
    {%- endfor %}
  </div>
</div>
