---
---

$content-width:    1000px !default;

@import "minima";



.site-title {
    font-weight: bold;
    color: #0343DF;
}

.site-title:visited {
    color: #0343DF;
}

.grid {
    display: flex;
}

.row {
    display: flex;
}

.col {
    flex: 1;
    margin: 30px;
}

img.doc {
    width:150px;
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
}

.pagination li {
  display:inline-block;
  padding:5px;
}

.tag {
    background-color: lightblue;
    color: black;
    margin-right: 3px;
    padding: 2px;
    border-radius: 5px;
    padding: 1px 5px 1px 5px;
    font-size: 14px;
}

#package-list ul li {
    padding-bottom: 20px;
}

h4.meeting {
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    color: #383838;
  background-color: white;
}

.site-title::before {
    content: url("imgs/CuisLogo-small.png");
    display: inline-block;
    position: relative;
    width: 50px;
    top: 8px;
}
