<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <script src="{{ "/assets/main.js" | relative_url }}" defer></script>
    {%- feed_meta -%}
  </head>

  <body class="{{ page.window }}">

    {%- include header.html -%}

    <main class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
